:root {
    --background-color: #151f32; 

    --dark-navy: #253D63; 
    --navy: #657A8C;
    --medium-navy: #8FA4BF;
    --light-navy: #A1B6E5; 
    --lightest-navy: #D5E2F2;

    --green: #C8FFA1;
    --greenHover: #90bc70;
    --navy-opactiy: rgba(54, 72, 89, 0.54);

    --tw-gradient-to: #253D63;
    --tw-gradient-from: #A1B6E5;

    --text-opacity: rgb(255 255 255/1); 
}