@use "../util" as m;

h1, 
h2, 
h3 {
    line-height: 1.1;
    color: var(--text-opacity);
}

h1 {
    font-size: var(--fz-xxl);
    font-family: "OpenSans-Bold", sans-serif;

	@include m.md {
		font-size: var(--fz-lg-heading)
	}
}

h2 {
    font-size: var(--fz-lg);

	@include m.md {
		font-size: var(--fz-xxl)
	}
}

h3 {
    font-size: var(--fz-lg);
}

p {
    font-size: var( --fz-sm);
    color: var(--text-opacity);
    font-family: "OpenSans-Light", sans-serif;
}

a {
    font-size: var( --fz-sm);
    color: var(--text-opacity);
    font-family: "OpenSans-Light", sans-serif;
}

button {
    font-size: var( --fz-sm);
    font-family: "OpenSans-Light", sans-serif;
}
  
