@use '../util' as m;

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px 0px;
   
    .card {
        border-radius: 14px;
        margin: 10px;
        width: 300px; 
        overflow: hidden; 
        transition: transform 0.3s ease-in-out;
        background: linear-gradient(to bottom, var(--tw-gradient-from), var(--tw-gradient-to, rgba(161, 182, 229, 0)));
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25);

        &:hover {
            transform: scale(1.05); 
        }

        .card-image-container {
            padding-top: 20px;
            .card-image {
                width: 50%;
                border-radius: 100%;
            }
        }

        .card-content {
            flex: 1;
            padding: 10px;
            gap: 10px;

            > * {
               margin: 12px 0px;
            }

            .card-username {
                font-weight: bold;
            }

            .card-name {
                margin-bottom: 5px;
            }

            .card-bio-button {
                border: 1.5px solid white;
                padding: 15px 40px;
                border-radius: 8px;        
                color: var(--green);
                background-color: transparent;
                border: 1.5px solid var(--green);
                cursor: pointer;

                &:hover {
                    background-color: var(--text-opacity);
                    color: var(--dark-navy);
                    border: 1.5px solid white;
                }
            }

            .empty-placeholder {
                padding: 29px 30px;
            }
          
            .card-bio {
                padding: 20px;
                margin-bottom: 10px;
                font-size: var( --fz-sm);
                color: var(--dark-navy)
            }

            .card-info {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 50px;

                .card-followers {
                    display: flex;
                    flex-direction: column;
                    margin: 0;
                    padding: 0;

                    p:nth-child(2) {
                        color: var(--light-navy);
                    }
                }
                
                .card-repositories {
                    display: flex;
                    flex-direction: column;

                    p:nth-child(2) {
                        color: var(--light-navy);
                    }
                }
            }
        }
    }
}